.main_content {
    width: 100%;
    text-align: center;
    background: rgba(228,101,230,1);
    background: -moz-linear-gradient(left, rgba(228,101,230,1) 0%, rgba(223,67,218,1) 38%, rgba(184,0,171,1) 66%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,101,230,1)), color-stop(38%, rgba(223,67,218,1)), color-stop(66%, rgba(184,0,171,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(228,101,230,1) 0%, rgba(223,67,218,1) 38%, rgba(184,0,171,1) 66%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(228,101,230,1) 0%, rgba(223,67,218,1) 38%, rgba(184,0,171,1) 66%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(228,101,230,1) 0%, rgba(223,67,218,1) 38%, rgba(184,0,171,1) 66%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(228,101,230,1) 0%, rgba(223,67,218,1) 38%, rgba(184,0,171,1) 66%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e465e6', endColorstr='#ffffff', GradientType=1 );
    line-height: 20pt;

    text-transform: uppercase;
    font-size: 150%;
}

img {
    /* width: 50%; */
    max-width: 60%;
    max-height: 600pt;
}

h1 {
    color: deeppink;
    font-size: 78pt;
    line-height: 50%;
}

italiki{
    text-transform: lowercase;
    font-size: 80%;
    text-align: left;
}